@import 'https://fonts.googleapis.com/css?family=Raleway%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900%2C300italic%2C400italic%2C700italic&subset=latin%2Clatin-ext&ver=1.0.0';
html {
  --mf-vert: #a5cd6e;
}

body.RGPD {
  position: fixed;
  width: 100%;
}

body.RGPD #tarteaucitronRoot:not(#ok):not(#okok) {
  bottom: 0;
  background: rgba(255, 255, 255, 0.25);
  z-index: 99999999;
}
body.RGPD #tarteaucitronRoot:not(#ok):not(#okok) #tarteaucitronAlertBig {
  display: block;
  left: 20%;
  top: 10%;
  width: 60%;
  bottom: 10%;
  border-radius: 3px;
  box-shadow: 0 0 5em 1em;
}
body.RGPD #tarteaucitronRoot:not(#ok):not(#okok) #tarteaucitronAlertBig .tarteaucitronAlertBigWrapper > * {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center !important;
}
body.RGPD #tarteaucitronRoot:not(#ok):not(#okok) #tarteaucitronAlertBig .tarteaucitronAlertBigWrapper #tarteaucitronDisclaimerAlert {
  top: 2%;
  bottom: 20%;
  padding-bottom: 2em;
  overflow: hidden;
  overflow-y: scroll;
  font-size: 1.25em;
  border-bottom: 1px solid gray;
  /*
  &::before {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      box-shadow: 0 0 50px 10px;
  }
  */
}
body.RGPD #tarteaucitronRoot:not(#ok):not(#okok) #tarteaucitronAlertBig .tarteaucitronAlertBigWrapper #tarteaucitronDisclaimerAlert > * {
  color: white;
  margin-bottom: 1em !important;
  text-align: center;
  font-family: Raleway, sans-serif !important;
}
body.RGPD #tarteaucitronRoot:not(#ok):not(#okok) #tarteaucitronAlertBig .tarteaucitronAlertBigWrapper #tarteaucitronDisclaimerAlert > b {
  color: var(--mf-vert);
  font-size: 2.5rem;
  border-bottom: 1px double var(--mf-vert);
  padding-bottom: 0.5em;
  display: block;
}
body.RGPD #tarteaucitronRoot:not(#ok):not(#okok) #tarteaucitronAlertBig .tarteaucitronAlertBigWrapper #tarteaucitronDisclaimerAlert > p {
  margin: 0 auto 1.5em;
  width: 90%;
  font-size: 1.5rem;
}
@media screen and (max-width: 767px) {
  body.RGPD #tarteaucitronRoot:not(#ok):not(#okok) #tarteaucitronAlertBig .tarteaucitronAlertBigWrapper #tarteaucitronDisclaimerAlert > b {
    font-size: 1.2em;
  }
  body.RGPD #tarteaucitronRoot:not(#ok):not(#okok) #tarteaucitronAlertBig .tarteaucitronAlertBigWrapper #tarteaucitronDisclaimerAlert > p {
    font-size: 0.8em;
  }
}
body.RGPD #tarteaucitronRoot:not(#ok):not(#okok) #tarteaucitronAlertBig .tarteaucitronAlertBigWrapper .tarteaucitronAlertBigBtnWrapper_p {
  bottom: 1rem;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------/
/---------------------------------------------media-queries bootstrap model ------------------------------------------------------------/
/---------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------*/

/*# sourceMappingURL=style.css.map */
